<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>孟汉光的简历</title>
  <meta name="keywords" content="孟汉光,前端,工作,简历" />
  <link rel="shortcut icon" href="./q-avatar.jpeg" />
  <link rel="stylesheet" href="./Font-Awesome-3.2.1/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./index.css" />
</head>

<body>
  <div id="app">
    <div class="sidebar">
      <div class="title">
        <img :src="$options.title.url" />
        <h1>{{ $options.title.name }}</h1>
        <h2>{{ $options.title.description }}</h2>
      </div>
      <ul class="side-info">
        <li>
          <dt><i class="icon-bookmark"></i> Basic info. 基本信息</dt>
          <dd v-for="item in $options.info">
            <i :class="item.icon"></i>{{ item.name }}
          </dd>
        </li>
        <li>
          <dt><i class="icon-bookmark"></i> Links. 相关链接</dt>
          <dd v-for="item in $options.links">
            <i :class="item.icon"></i>
            {{ item.name }}
            <a :href="item.url" target="_blank">{{ item.url }}</a>
          </dd>
        </li>
        <li>
          <dt><i class="icon-bookmark"></i> Contact. 联系方式</dt>
          <dd v-for="item in $options.contact">
            <i :class="item.icon"></i>{{ item.name }}
          </dd>
        </li>
        <li>
          <dt><i class="icon-bookmark"></i> Application. 应聘岗位</dt>
          <dd>{{ $options.application }}</dd>
        </li>
        <li class="skill">
          <dt><i class="icon-bookmark"></i> Tech. 技术栈</dt>
          <dd v-for="item in $options.skill">
            <div class="skill-name">{{ item.name }}</div>
            <div class="skill-bar-wrap">
              <div class="skill-bar" :style="{width: item.width + '%'}"></div>
            </div>
          </dd>
        </li>
        <li class="hobby">
          <dt><i class="icon-bookmark"></i> Hobby. 爱好</dt>
          <dl>
            <div v-for="item in $options.hobby">
              <img :src="item.url" /><br />{{ item.name }}
            </div>
          </dl>
        </li>
      </ul>
      <div class="side-bottom">
        <p v-for="(item, index) in $options.closing" :key="index">
          {{ item }}
        </p>
      </div>
    </div>
    <div class="main">
      <ul class="main-info">
        <li>
          <dt><i class="icon-bookmark"></i> Experience. 工作经验</dt>
          <template v-for="item in $options.experience">
            <h3>{{ item.company }}</h3>
            <ul class="exp">
              <li v-for="item2 in item.exp">
                <div class="circle"></div>
                <h4>{{ item2.name }}</h4>
                <p v-for="item3 in item2.description">{{ item3 }}</p>
              </li>
            </ul>
          </template>
        </li>
        <li>
          <dt><i class="icon-bookmark"></i> Production. 个人作品</dt>
          <ul class="exp">
            <li v-for="item in $options.production">
              <div class="circle"></div>
              <h4>
                <template v-if="item.names" v-for="item2 in item.names">
                  {{ item2.name }}
                  <a v-for="item3 in item2.link" :href="item3.url" target="_blank"><i
                      class="icon-link"></i>{{ item3.name + " " }}</a>
                </template>
                <template v-if="!item.names">
                  {{ item.name }}
                  <a v-for="item2 in item.link" :href="item2.url" target="_blank"><i
                      class="icon-link"></i>{{ item2.name + " " }}</a>
                </template>
              </h4>
              <p v-for="item3 in item.description">{{ item3 }}</p>
            </li>
          </ul>
        </li>
        <li>
          <dt><i class="icon-bookmark"></i> Self-evaluation. 自我评价</dt>
          <ul class="exp">
            <li>
              <div class="circle"></div>
              <p v-for="(item, index) in $options.evaluation" :style="{paddingTop: index ? '0' : '25px'}">
                {{ item }}
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      title: {
        name: "孟汉光",
        url: "./q-avatar.jpeg",
        description: '"Full of curiosity. Enjoy coding."'
      },
      info: [{
        name: " 年龄: 90 后",
        icon: "icon-user"
      },
      {
        name: " 本科: 中国计量大学",
        icon: "icon-book"
      },
      {
        name: " 籍贯: 浙江省诸暨市",
        icon: "icon-home"
      }
      ],
      links: [{
        name: " GitHub: ",
        url: "https://github.com/hamger",
        icon: "icon-github"
      },
      {
        name: " Blog: ",
        url: "https://hangermeng.top",
        icon: "icon-edit"
      }
      ],
      contact: [{
        name: " 邮箱: 2313303800@qq.com",
        icon: "icon-envelope"
      },
      {
        name: " 微信: mhg23133",
        icon: "icon-comments"
      },
      {
        name: " 手机: 15958023204",
        icon: "icon-phone"
      }
      ],
      application: "前端开发工程师",
      skill: [{
        name: "HTML/CSS",
        width: 78
      },
      {
        name: "JavaScript",
        width: 72
      },
      {
        name: "jQuery",
        width: 70
      },
      {
        name: "Bootstrap",
        width: 71
      },
      {
        name: "Vue",
        width: 75
      },
      {
        name: "React",
        width: 66
      },
      {
        name: "Webpack",
        width: 60
      },
      {
        name: "Node.js",
        width: 65
      },
      {
        name: "express",
        width: 70
      },
      {
        name: "PHP",
        width: 48
      },
      {
        name: "python",
        width: 58
      },
      {
        name: "MySQL",
        width: 56
      },
      {
        name: "ECharts",
        width: 61
      },
      {
        name: "Canvas",
        width: 75
      },
      {
        name: "TypeScript",
        width: 65
      },
      {
        name: "less / sass",
        width: 73
      },
      {
        name: "pug / jade",
        width: 66
      },
      {
        name: "ejs",
        width: 66
      },
      {
        name: "Jasmine",
        width: 60
      },
      {
        name: "PhotoShop",
        width: 43
      },
      {
        name: "Shell",
        width: 46
      },
      ],
      hobby: [{
        name: "户外运动",
        url: "./icon/outdoor.png"
      },
      {
        name: "乒乓球",
        url: "./icon/pingpong.png"
      },
      {
        name: "狼人杀",
        url: "./icon/werewolf.png"
      },
      {
        name: "造轮子",
        url: "./icon/wheel.png"
      }
      ],
      experience: [{
        company: "湖畔教育科技有限公司（2019.4 - 至今）",
        exp: [
          {
            name: "小二后台3.0",
            description: [
              "湖畔的小二后台 2.0 是使用乐高（拖拽式后台开发工具）开发的，存在非常多的限制。随着后台业务需求逐渐复杂化，乐高的弊端被凸显出来，已成为后台开发的瓶颈，后台去乐高化迫在眉睫。",
              "在这样的背景下，主动寻找融合新旧框架的方案，最后终于诞生小二后台 3.0 方案，并主导落地。该方案兼容乐高且提升了用户体验，结束了两年来小二后台长期处于刀耕火种的困境。",
            ]
          },
          {
            name: "湖畔官网",
            description: [
              "对整个官网的代码进行重构，将原有的 3 种技术框架统一为 1 种，合并 PC 端和移动端的页面，代码量缩减 90% 。",
              "部署方案更改为使用自研的脚本进行部署，部署时间从 10 分钟减少到 2 分钟。"
            ]
          },
          {
            name: "签到/面试/问卷",
            description: [
              "使用 umi 作为脚手架的 react 项目，改写最终面试和问卷的代码，统一湖畔大学的所有工具性页面于一个项目中。"
            ]
          },
        ]
      },
      {
        company: "杭州一骑轻尘信息技术有限公司（2018.5 - 2019.4）",
        exp: [{
          name: "车辆中心",
          description: [
            "vue + element-ui，关于车辆状态的后台管理系统，经过项目优化，使 webpack 打包时间从 26 秒缩短到 9 秒。"
          ]
        },
        {
          name: "内网监控门户",
          description: [
            "node.js + express + ejs + mysql，为运维人员服务的一个信息门户，对监控网址进行增删改管理。"
          ]
        }
        ]
      },
      {
        company: "浙江核新同花顺网络信息股份有限公司（2017.4 - 2018.5）",
        exp: [{
          name: "数据中心/组合广场",
          description: [
            "一个 Hybrid APP 的项目，使用 vue + sass 编写，并从中抽离出一些实用的 vue 组件形成组件库。",
            "在组合广场中使用了自己研发的移动端插件：日期选择器和地区选择器。"
          ]
        },
        {
          name: "模拟炒股",
          description: [
            "使用 jQuery 编写的项目，接手后对项目结构和文件命名做了大量改动，使之更加语义化。",
            "删除大量冗余代码，对很多可复用的函数进行封装。利用 Nginx 反代理极大地提高了本地开发体验。"
          ]
        }
        ]
      },
      ],
      production: [{
        name: "hg-react-slot",
        link: [{
          url: "https://github.com/hamger/hg-react-slot",
          name: "源码&文档"
        }],
        description: [
          "react 的具名插糟实现方案，解决了 react 组件的 children 无法被分发的问题。"
        ]
      }, {
        name: "vue-immutable",
        link: [{
          url: "https://github.com/hamger/vue-immutable",
          name: "源码"
        },
        {
          url: "https://hamger.github.io/vue-immutable/",
          name: "文档"
        }
        ],
        description: [
          "vue-immutable 是一个 vue 插件，优化 vue 对 immutable 数据的处理，减少不必要的数据观察。"
        ]
      },
      {
        name: "cvs",
        link: [{
          url: "https://github.com/hamger/cvs",
          name: "源码"
        },
        {
          url: "https://hamger.github.io/cvs/",
          name: "文档"
        }
        ],
        description: [
          "一个基于 canvas 的 2D 基础绘图框架。极简的 API 设计，将 canvas 绘图改写为面向对象编程；支持高度自由的自定义元素和基础事件绑定；使用离屏渲染的缓存机制，使动画绘制更加流畅；基于时间轴的细粒度动画控制。"
        ]
      },
      {
        name: "word-counter",
        link: [{
          url: "https://github.com/hamger/word-counter",
          name: "源码&文档"
        }],
        description: [
          "一个用来统计英文原著中单词出现概率的工具，使用 python 编写，支持批量单词过滤、通过爬虫实现的快速查词。"
        ]
      },
      {
        name: "data-dirver",
        link: [{
          url: "https://github.com/hamger/data-dirver",
          name: "源码"
        },
        {
          url: "https://hamger.github.io/data-dirver/",
          name: "文档"
        }
        ],
        description: [
          "实现 JavaScript 数据响应的解决方案。基于 Object.defineProperties ，使用 TypeScript 编写。只暴露了三个函数，支持监听单一数据源，同时提供构造器方法用于创建存在继承关系的数据源实例，利于实现复杂情况下的数据响应。"
        ]
      },
      {
        name: "hg-virtual-dom",
        link: [{
          url: "https://github.com/hamger/hg-virtual-dom",
          name: "源码&文档"
        }],
        description: [
          "减少手动 DOM 操作的解决方案。整个库只暴露了四个方法，非常简单易用，且提供中英双文档。",
          "使用 jasmine 进行单元测试，且覆盖率达到百分之百。"
        ]
      },
      {
        name: "werewolfkill-recorder",
        link: [{
          url: "https://github.com/hamger/werewolfkill-recorder",
          name: "源码"
        },
        {
          url: "https://hamger.github.io/werewolfkill-recorder/#/",
          name: "Demo"
        }
        ],
        description: [
          "使用 react 写的一个狼人杀记录器，主要使面杀时记录票型更加便利。"
        ]
      },
      {
        name: "annotate-webpack-plugin",
        link: [{
          url: "https://github.com/hamger/annotate-webpack-plugin",
          name: "源码&文档"
        }],
        description: [
          "一个用于添加文档注释的 webpack 插件。"
        ]
      },
      {
        names: [{
          name: "mhg-cli",
          link: [{
            url: "https://github.com/hamger/mhg-cli",
            name: "源码"
          }]
        },
        {
          name: "mhg-templates",
          link: [{
            url: "https://github.com/hamger/mhg-templates",
            name: "源码"
          }]
        }
        ],
        description: [
          "mhg-cli 是一个用于快速创建项目模板的脚手架。结合 mhg-templates 现阶段提供的 6 套模板，帮助快速搭建项目。"
        ]
      },
      {
        names: [{
          name: "hg-citypicker",
          link: [{
            url: "https://github.com/hamger/hg-citypicker",
            name: "源码&文档"
          }]
        },
        {
          name: "hg-datepicker",
          link: [{
            url: "https://github.com/hamger/hg-datepicker",
            name: "源码&文档"
          }]
        },
        {
          name: "hg-parapicker",
          link: [{
            url: "https://github.com/hamger/hg-parapicker",
            name: "源码&文档"
          }]
        }
        ],
        description: [
          "移动端的地区选择器、日期选择器、并列选择器。具有很好的适应性，可以在任何前端框架中使用。",
          "支持灵活的参数配置，目前已使用在线上的项目中，未收到有问题的反馈。"
        ]
      },
      {
        name: "hg-vcomponents",
        link: [{
          url: "https://github.com/hamger/hg-vcomponents",
          name: "源码&Demo"
        }],
        description: [
          "从实际项目中提炼出一些常用的组件并形成自己的 Vue 组件库。",
          "现阶段包括左滑删除组件、表头固定组件、页面顶置组件、多项文本输入组件、空心和实心箭头组件等12个组件。"
        ]
      }
      ],
      evaluation: [
        "乐观皮实、喜欢创造、追求简单、乐于交流的野生程序猿一只，追求极简化的代码。",
        "具有较强的数理逻辑推导能力和模型抽象能力；参加过演讲、主持、小品和相声，喜欢公众演讲；",
        "乐于学习新事物，愿意结识新朋友；充满好奇心，勤于思考，愿意分享，享受 coding。"
      ],
      closing: [
        "你看，那可爱的青春，散发着狂放不羁的光泽，又夹杂着迷茫失落的酒气。",
        "我想为它找到一个好的归宿，让它尽情地燃烧，去照亮四周，传递温暖。",
      ]
    });
  </script>
</body>

</html>